@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome to Games Web</h1>
	<h2 class="display-7">You can:</h2>
	<div>
		<a asp-controller="Games" asp-action="Index">Browse games</a>
	</div>
	<div>
		<a asp-controller="Producers" asp-action="Index">Browse producers</a>
	</div>
</div>
